.nav {
  grid-area: nav;
  background-color: #568abb;
  padding: 20px;
  border-radius: 10px;
  height: max-content;
}

.item {
  color: #000000;
  text-decoration: none;
}

.active {
  color: gold;
  text-decoration: none;
}

.usersLink:hover,
.usersLink {
  display: grid;
  justify-content: center;

  color: gold;
  font-size: 200%;
  text-decoration: none;
}

.img {
  max-width: 100%;
}

.avatar {
  width: 40px;
  border-radius: 50%;
}

.usersBlock {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.users {
  font-size: 12px;
  color: #c6e41b;
  text-align: center;
  font: bold 80% serif;
}

