.nav {
  grid-area: nav;
  background-color: #494B57;
  padding: 20px;
  border-radius: 10px;
}

.item {
  color:#C4C4C4;
  text-decoration: none;
}

.active {
  color: gold;
  text-decoration: none;
}